<div id="<%= dom_id product1 %>">
  <div>
    <strong>Name:</strong>
    <%= product1.name %>
  </div>

  <div>
    <strong>Descripition:</strong>
    <%= product1.descripition %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= product1.price %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= product1.stock %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= product1.is_active %>
  </div>

  <p>
    <strong>Feedback:</strong><br>
    <%= @product1.feedback %>
  </p>

  <div>
      <strong>Product_Pic:</strong><br>
      <% if @product1.product_pic.attached? %>
        <% @product1.product_pic.each do |pic| %>
        <%= image_tag pic%>
        <% end %>
      <% end %>
    <div>

</div>
