<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
  <div>
    <%= form.label :order_count %>
    <%= form.text_field :order_count %>
  </div>
  <%= form.submit %>
  
  <%= link_to "Back to all Orders", orders_path, style: "background-color:white; border-radius:1px;color:black; text-decoration:none; margin-top:10px; font-size:13px; padding-left:3px; padding-right:3px; padding-top:1px; padding-bottom:1px; display:inline-block; " %>
    
<% end %>
